[2014-11-20 20:39] ethers opened #1 "empty trie should be sha3(rlp(''))"

[2014-12-07 13:28] #1 closed, assigned to nobody

[2015-01-28 19:01] wanderer opened #2 "compatibility with levelup"
it should have nearly the same api as levelup

[2015-04-06 04:20] kumavis opened #3 "empty stack"
somehow we got to a place where we're popping an empty stack. not sure how to debug, the code is a little dense.
[code]

[2015-04-07 00:09] kumavis commented on #3
this is an error triggered by sqldown

[2015-04-07 00:09] #3 closed

[2015-04-08 22:51] wanderer commented on #2
we cannot do this because of the extra methods needed by trie

[2015-04-08 22:51] #2 closed

[2015-05-29 23:01] kumavis opened #5 "emit error on missing node"
just blows up

[code]

[2015-05-29 23:02] kumavis commented on #5
triggered by
[code]

[2015-05-29 23:04] kumavis commented on #5
of course I dont expect that to work, but i dont expect it to crash my program either

[2015-06-01 12:04] wanderer commented on #5
right that won't work because the stateRoot '0000000000000000000000000000000000000000000000000000000000000000' doesn't exsist.

[2015-06-01 12:05] wanderer commented on #5
@kumavis do you have any opoins on the expected behavior here?

[2015-06-01 17:25] kumavis commented on #5
should through an error on a non-existing state root, no?

[2015-06-01 17:26] kumavis commented on #5
with the exception of the empty rlp stateRoot

[2015-06-28 11:45] wanderer opened #7 "Add pruning"
See https://blog.ethereum.org/2015/06/26/state-tree-pruning/

[2015-11-21 21:34] axic opened #9 "License: is it MPL or GPL?"
- ```package.json``` says MPL2.0
- ```README``` has no information about this
- but the ```LICENSE``` file contains GPL3.0

[2015-11-22 00:57] wanderer commented on #9
MPL2.0

[2015-11-22 00:57] #9 closed

[2015-11-30 21:04] deanlandolt commented on #2
I can't quite see how this would be incompatible -- couldn't it be a superset of the levelup api? The `batch` API would probably need to be renamed, or at least augmented to also take a levelup-style ops array, and perhaps return a chained batch instance when called w/ `arguments.length === 0` (though IMHO that's not strictly necessary).

The other incompatibility is in `createReadStream` -- ISTM

[2016-01-05 01:39] axic opened #10 "Remove dependency on ethereumjs-util"
It might make sense to remove the dependency on ethereumjs-util as it is only using sha3 and toBuffer.

Not entirely sure about it.

[2016-04-19 10:12] wanderer opened #11 "Add secondary index"
Since leveldb is more performant when fetching ordered data it may give us a speed boost to add a second index. This index would map all the hash of a given root to a uuid. then each path in the tree (with respect to the root) would be prefixed with the UUID and stored as a key with the value being the sha3 of the node.

[2016-05-02 22:52] kumavis commented on #10
relevant https://github.com/ethereumjs/ethereumjs-util/pull/38

[2016-05-03 05:57] wanderer commented on #11
I think this will add too much overhead to be usefull

[2016-05-03 05:57] #11 closed

[2016-05-03 18:46] Ryanmtate opened #12 "Trie.prototype._updateNode(); TypeError: Cannot read property 'pop' of undefined"
_updateNode is receiving undefined stack

Receiving TypeError: Cannot read property 'pop' of undefined

[code]

Suspect WalkController is not passing stack in the callback of processNode();

[code]

[2016-05-06 12:01] wanderer commented on #12
@Ryanmtate do you have the code that generates this error?

[2016-06-13 20:01] axic commented on #10
I think `toBuffer` shouldn't be used here as that is very permissive, while according to the code documentation, the trie only accepts `Buffer` or `String` for keys and values. I would go as far as saying it should only work with `Buffer` and reject anything else (as it is a low-level library).

As regarding to sha3, perhaps it should use keccakjs directly.

[2016-06-13 20:02] axic commented on #5
Is this sorted?

[2016-06-13 20:12] wanderer commented on #10
yeah i'm happy limiting the api to only buffers.

[2016-06-13 20:44] wanderer commented on #5
no. I think we just need a better error message here

[2016-09-22 06:47] wanderer opened #13 "Back with ipfs merkle-dag"
Resolves paths and merkle hashes from ipfs's merkle dag https://github.com/ipfs/js-ipfs-merkle-dag

[2016-12-15 22:31] kumavis commented on #5
related #12

[2016-12-16 00:03] kumavis opened #17 "`_lookupNode` is not err-first callback style"
`_lookupNode` is not err-first callback style

[2017-03-07 23:49] tcoulter commented on #12
I've seen this a bunch with the TestRPC. Was too intermittent to figure out the root cause however.

[2017-04-22 19:40] erkmos commented on #12
This problem still exists with TestRPC, I've spent a few hours trying to track down how to fix it, but so far haven't figured out how. Callback hell...

I've tried making it pass an error in the callback from `watchController.only` in `walkTrie` helper `processNode` but there seems to be a lot of code elsewhere that doesn't follow the callback(error, value) convention, causing all kinds of strange

[2017-06-24 15:58] flyswatter opened #19 "Add support for partial trees"
I'd love to do some local VM state caching, and so this would require a way of storing a trusted root, and only adding things that match the root.

Maybe a set of methods like `trie.setTrustedRoot(rootHash)`, and `trie.putDataSafely('key', 'value', merkleProof)` which will throw if you try to put data that doesn't match the current trusted root.

I have no idea what precise format `merkleProof` wo

[2017-08-01 14:26] #13 closed

[2017-10-27 22:17] step21 opened #23 "missing error message?"
So when using a presumably existing key, there is nothing returned, neither an error message nor a value. For this I was just using the example from the Readme, with some example values given or gathered. So if no error is given, despite err in the callback function, how do I know what is happening?

[2018-01-26 06:28] tpmccallum opened #31 "Getting empty Buffer"
Hi,
I am documenting the Ethereum database structure
![Here](https://github.com/tpmccallum/ethereum_database_research_and_testing/blob/master/leveldb/diagrams/ethereum_database.jpg)
and
![here](https://github.com/tpmccallum/ethereum_database_research_and_testing/blob/master/leveldb/leveldb.md)

When I run the following code on my Ethereum Private Network I just get an empty buffer.
[code]

Please

[2018-01-26 08:28] holgerd77 commented on #31
Don't put the ``0x`` in your string when you create a new Buffer object.

Executing the Buffer creation in the Node console just gives ``<Buffer >`` as result.

[2018-01-26 08:28] #31 closed

[2018-01-28 05:17] tpmccallum opened #32 "Trying to access nonce, balance, storageRoot and codeHash via the state trie"
Hi,
Firstly, thanks for this code, much appreciated.
I am wanting to use this merkle-patricia-tree library to fetch nonce, balance, storageRoot and codeHash from my Ethereum (private network) state trie.

I am accessing the keys of the state trie [here](https://github.com/tpmccallum/ethereum_database_research_and_testing/blob/master/leveldb/leveldb.md#state-trie)

I then am using the following cod

[2018-01-29 14:55] jwasinger commented on #32
@tpmccallum What you are seeing is a dump of objects of the format `KECCAK256(account address): RLP(account data)`.

Checkout this code that de-serializes the RLP account data by creating an instance of `ethereumjs-account`:

https://github.com/ethereumjs/ethereumjs-vm/blob/master/lib/cache.js#L44

[2018-02-03 23:54] axic opened #34 "Add tests for the proofs"
Merging #15 test coverage dropped from 87% to 81%. Would be nice to achieve close 100% :)

[2018-02-05 10:10] holgerd77 commented on #34
Hmm, wonder why coverage for ``proof.js`` is so bad https://coveralls.io/builds/14875747/source?filename=proof.js, there were actually various tests in the PR and achieving something around 5% is definitely too low, maybe it's the type of test execution?

[2018-02-07 04:30] tpmccallum commented on #32
Hi @jwasinger
Thank's so much. I created an instance of the ethereumjs-account and obtained the account balance using the following code (harnessing your ethereumjs-util and ethereumjs-account).

[code]

[2018-02-07 04:30] #32 closed

[2018-02-07 13:22] holgerd77 opened #35 "Add more Ethereum state DB focused example accessing account values"
Add example from https://github.com/ethereumjs/merkle-patricia-tree/issues/32#issuecomment-363654149 to the README

[2018-02-20 12:38] medvedev1088 commented on #32
@tpmccallum don't you need to keccak the address first before getting the entry from the trie?

``trie.get(keccak256(address), function (err, raw) {``

[2018-02-23 03:35] tpmccallum commented on #32
Hi @medvedev1088
I was able to obtain the entry from the trie by passing in the address in its standard form (not keccak).
Not sure if it makes a difference but I am using the "secure" requirement as the Trie var
[code]
which is found at
[code]
as apposed to just using the standard
[code]

[2018-03-05 12:54] ivica7 opened #36 "OutOfMemory when trying to traverse the state trie of the latest Ethereum mainnet block"
I have the JavaScript code below, which is traversing the state trie from geth's leveldb for Ethereum mainnet Block #5200035.

After some time with high cpu usage and having reserved about 6Gb RAM, it crashes with ``FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory``.

It looks like the library is having trouble with the size of the mainnet database (~70Gb after a

[2018-03-09 12:23] holgerd77 commented on #36
What versions of ``levelup`` and ``leveldown`` are you actually using? Having trouble to get this to work. Have you manually installed a newer ``levelup`` version?

[2018-03-09 13:48] ivica7 commented on #36
This is the depndencies block from package.json
[code]

Installed with ``npm 5.6.0 / node v8.9.4``

[2018-03-09 18:32] holgerd77 commented on #36
Ah, thanks, yes already had the suspicion that the levelup version required by the repo is too old, we actually have to update this, this is working now when I manually update dependencies.

[2018-03-09 18:37] ivica7 commented on #36
Did you update to the latest? I can try if it works with the 70gb trie from the mainnet.

[2018-03-13 09:08] holgerd77 opened #39 "Test library resistance against Preimage Attack"
There is a new (?) attack vector against merkle tree implementations described in this post:
https://flawed.net.nz/2018/02/21/attacking-merkle-trees-with-a-second-preimage-attack/

Currently it is unclear if this affects this library. This should be tested.

[2018-03-13 14:05] #36 closed

[2018-03-13 15:26] medvedev1088 commented on #39
Just my thoughts here.

The attack on the Merkle tree is possible because preimages of intermediate nodes can be used as leaf nodes in a new tree, resulting in different trees having the same root. This can be easily fixed by running a different preprocessing function for leaf and intermediate nodes before hashing them (this way using a preimage of an intermediate node as a leaf will result in a d

[2018-03-19 13:13] holgerd77 commented on #39
Thanks for the explanation. I will leave this open for some time for reference and other to recap.

[2018-03-29 09:30] holgerd77 opened #41 "Binary tree support"
Data structures in Ethereum sharding will use a binary instead of a hex tree for shorter merkle proofs, see e.g. the ``Chunk tree`` description for ``Collations`` in the [sharding phase 1 spec](https://ethresear.ch/t/sharding-phase-1-spec/1407).

It should be analyzed if this library can easily be adopted to also support binary tree structures (first guess: just change the maximum number of child

[2018-04-24 22:18] JEJodesty commented on #32
Hi all,
I attempting to access nonce, balance, storageRoot and codeHash via the state trie given @tpmccallum example in the 1st comment  without success. I'm using a data directory within my geth node, an existing stateRoot in the Ethereum Blockchain
[code]
It produces a black output despite me accessing a stateRoot within the correct block height indicating that the stateRoot exist.

Help would b

[2018-04-24 23:04] tpmccallum commented on #32
Hi @JEJodesty
It has been a few weeks since I have played with this.
Please look at the following and compare and contrast the differences between what you are trying and what I have provided in my installation and code examples.
Installing npm, node, level and ethereumjs
https://gist.githubusercontent.com/tpmccallum/0e58fc4ba9061a2e634b7a877e60143a/raw/ec53049533d08f8db226f0fbe3510191bb94de55/epn

[2018-04-25 12:43] holgerd77 opened #43 "Add merkle proofs to the secure trie version"
Currently merkle proof functionality is only added to the base trie, see ``index.js`` for the integration.

This should be done accordingly for the secure trie in ``secure.js`` and at least one new test should be added to the ``test/proof.js`` test file.

[2018-04-26 11:10] holgerd77 opened #44 "Refactor: Use ES6 classes and extends keyword instead of util.inherits"
The current way the different Trie class objects are constructed is not very readable, furthermore the use of ``util.inherits`` in Node [is discouraged](https://nodejs.org/docs/latest/api/util.html#util_util_inherits_constructor_superconstructor).

This should be reworked to use ``ES6`` classes, constructors together with the ``extends`` keyword to inherit properties and methods.

[2018-05-03 19:05] JEJodesty commented on #32
Hi @tpmccallum ,
Solved it! Issue: Corrupted leveldb database.

Thanks for your help!
-Josh

[2018-05-03 21:35] tpmccallum commented on #32
Great work!

Sent from my iPhone

[2018-05-25 20:33] xiaoyao1991 opened #46 "Unable to read stream from the latest Ethereum mainnet"
Hi,

I was trying to iterate a readStream to loop through all accounts in the latest Ethereum mainnet. I ran a script like the following:
[code]

The script works on small private nets I set up for other experiments, however, when I try to run it against the fast-sync'd mainnet geth, there seems to have no data event at all. The script ended printing "done" immediately.

[2018-06-03 17:28] simon-jentzsch opened #47 "Proof for non-existence values (0x0)"
Currently when I get the merkle-proof from parity for a storage-value with `0x0`  it will return me a array of nodes which are only branches because there is no leaf-node for the 0x0-value.
When I use the `verifyProof` it will return with a Error `'Unexpected end of proof'`, which is actually correct, but it raises the question, how are we able to prove non-existend or `0x0`-values?

For now I rew

[2018-06-26 10:19] holgerd77 commented on #47
I still am no merkle tree-super expert and have problems to judge this issue, any further comments on this are appreciated.

[2018-06-26 10:58] holgerd77 commented on #46
Did you solve your issue? This should actually work. Make sure that you are using the correct ``levelup`` version from ``package.json``. Also maybe trie different block numbers (e.g. the latest on your sync) and maybe check what happens on a full-sync-started DB into a custom folder on one of the first blocks.

[2018-06-26 10:58] #46 closed

[2018-07-26 12:58] Shirikatsu opened #49 "Does this handle nested nodes and where in the code is it?"
The generated tries in Ethereum account for nodes that are less than 32 bytes when RLP-encoded to be included in it's parent in it's entirety as opposed to being reference to by its hash.

A popular library [eth-proof](https://github.com/zmitton/eth-proof/) seems to generate incorrect tries for some blocks on the mainnet as noted [here](https://github.com/zmitton/eth-proof/issues/5) which uses thi

[2018-08-21 21:46] no2chem opened #52 "Verify Proof fails if there is an extension with an embedded branch"
This can occur if you insert lots of small key/values into the tree.

A simple example of this bug is below:
[code]

PR #51 fixes this issue.

[2018-08-21 22:03] no2chem commented on #49
Hi @Shirikatsu  --- This is perhaps related to #52 ? I opened a PR (#51) to fix it, maybe you can try that out?

[2018-08-27 10:37] #52 closed

[2018-09-05 20:23] no2chem opened #54 "Library fails branch-value-update test"
Upstream in the official tests, a new test "branch-value-update" was added:

[code]

This library fails that test. In particular, it seems that search stops at an extension node when it should check the value in the branch node.

[2018-09-24 10:33] holgerd77 commented on #54
Hi Michael @no2chem, just discovered your library fork, pretty interesting, have to have a closer look when time permits. Thanks for contributing back to the original library on discovering bugs! 😄

[2018-09-24 10:48] holgerd77 commented on #49
@maxrobot Thanks for validating this!

Will release this as ``v2.3.2`` with https://github.com/ethereumjs/merkle-patricia-tree/pull/55.

[2018-09-24 10:48] #49 closed

[2018-09-24 10:53] #39 closed

[2018-09-26 17:07] alextsg commented on #44
I can take a look at this

[2018-09-27 10:05] holgerd77 commented on #54
Hi @no2chem, hi @SoujanyaPonnapalli, just had a (somewhat) closer look at your fork repository, great work, congrats! I wonder if we can take back some of your changes to this library, so that users of this version also can benefit. Recalled the first commits you were doing, at least for the first 4-5 commits I didn't discover anything which wouldn't be applicable and useful for the original libra

[2018-09-27 10:09] holgerd77 commented on #44
Hi Alex, just discovered that people are working on a pretty interesting and advanced fork of this library. Have started a discussion on that here: https://github.com/ethereumjs/merkle-patricia-tree/issues/54.

Maybe wait with this, would like to see where we are going there. If you want, you can also have a look at the fork from RainBlock, I think it should be possible to take many of the changes

[2018-09-27 16:33] alextsg commented on #44
Ah ok. Thanks for the heads up @holgerd77

[2018-09-27 19:36] no2chem commented on #54
Hi @holgerd77 ! Thanks! I do think there's some things that could be ported back to this library (admittedly, a lot of that library is research and we're very liberal with changing APIs), but you're right that a lot of it might not be applicable to this library. Probably the most obvious one is to use ES6 stuff, and maybe decoupling from the leveldb api. We're of course open to an exchange.

As we

[2018-09-28 08:05] holgerd77 commented on #54
Sounds great, we can also definitely point to your library from this one for people with different use cases, would you recommend that people can use this in production use cases or has this still somewhat experimental nature?

Also then you probably don't mind if we from time to time go through your PRs and then cherry-pick stuff from there, eventually adopt it a bit and then do a PR with this he

[2018-09-28 08:07] holgerd77 commented on #54
//cc @alextsg at the moment, we should probably focus more on VM stuff, but if you want you are very invited to keep an eye on this and eventually take over some of the changes over time

[2018-11-02 00:59] wanderer opened #58 "update checkpointing API"
The current check-pointing API isn't the best and it is inefficient. The API could be simplified. Instead of `checkpoint`, `commit`  and `revert` there should be a single `commit` or [`flush`](https://github.com/ipld/js-ipld-graph-builder/blob/master/docs/index.md#flush)  function that writes everything to the DB and returns the resulting state root. Instead of `checkpoint` and `commit` we should

[2018-11-13 19:47] simon-jentzsch commented on #47
Yes MerkleProof for non-existent values are tricky, but possible. In the end it comes down to following the path of the nibbles and we can be sure the value does not exist, if:
1. if we find a branch and the slot for the next nibble is empty
2. if we have a extension or leaf and the path does not match the target

Here is an example where I implemented this:

https://github.com/slockit/in3-trie/bl

[2018-11-23 08:48] liuhuanhui opened #59 "Hello, my company is developing a ether wallet, ether node has been set up, with the Geth. But now there is a problem, that is, how to query the wallet address under the transaction records. Do you need to parse the node's leveldb file, can you give me some ideas? Thank you."
Hello, my company is developing a ether wallet, ether node has been set up, with the Geth. But now there is a problem, that is, how to query the wallet address under the transaction records. Do you need to parse the node's leveldb file, can you give me some ideas? Thank you.

[2018-11-23 09:06] #59 closed

[2018-11-28 13:14] holgerd77 commented on #47
A bit the same question as on the block library, are you open to do a PR here? Does this conform with the license requirements of slockit code base?

[2018-12-09 15:30] bit-warrior commented on #58
@wanderer i was thinking of working on this issue. Need more details about what is expected to be done. Looked into the code , `checkpoint`, `commit`  and `revert` have different purpose, can you plz give a little more detail on how to get that in one function `commit` or `flush`

[2018-12-19 14:01] zmitton opened #64 "better proof/verification support"
The Implementation of proof verification creates its own sort of "new" version of traversing the trie. There is a better way to verify proofs: the prooving nodes or branch nodes should be `put` into the key-value DB (just the ephemeral one) using the nodes given with their keccak as key. Then the the regular `get` function should be called on this small tree to see if it can pull out the expected

[2018-12-19 14:04] holgerd77 commented on #64
Sounds great! 😊

@alextsg can you eventually have a look?

[2018-12-20 03:41] alextsg commented on #64
@holgerd77 Sure

[2019-01-10 08:17] s1na commented on #44
Thanks to @alextsg, most of the library has been ported to ES6 classes in #57 and #61. What remains now is `trieNode`. I was also wondering as to the purpose of `secureInterface` and `checkpointInterface`, why are they not implemented in `SecureTrie` and `CheckpointTrie` respectively?

[2019-01-10 08:26] s1na opened #66 "Support Promise and callbacks for async functions"
Now that the library has been ported to ES6 (#44), a further step would be to support Promise (as well as callbacks for backward compatibility), to enable `async/await` syntax for consumers of the library.

[2019-01-10 08:36] s1na opened #67 "Extract db-related logic from baseTrie"
In addition to MPT logic, `BaseTrie` also has methods for the underlying key-value db. This logic can be extracted to a separate class, to make `BaseTrie` more readable and reduce coupling. The methods include `getRaw`, 'putRaw`, 'batchNodes`, etc.

[2019-01-10 08:47] s1na opened #68 "Discussion on improving concurrency of trie"
Modifications to the trie (put and del) are protected via a semaphore. The locking period however can be quite long, as after taking the semaphore `put` calls `findPath` and possibly `_updateNode`, both of which are IO-bound. This reduces throughput of updates significantly.

This issue aims to discuss two points:

- What are the thread-safety requirements of the trie? i.e. What are the race condi

[2019-01-10 09:02] s1na commented on #68
My own guess with respects to the first question is that during the time when one "thread" finds the node it wants to update/put, another "thread"  modifies another node on the path, making the second update obsolete (as it will be done on an outdated snapshot). Is this close to the rationale? are there other points?

If this is the case, modifying the current checkpoint mechanism in the following

[2019-01-10 09:09] holgerd77 commented on #67
Makes sense.

[2019-01-10 09:12] holgerd77 commented on #68
// @vpulim @alextsg Would be great if you find some time to jump in here! 😄

[2019-01-10 14:14] #54 closed

[2019-01-14 15:14] s1na opened #72 "Replace istanbul with nyc"
This library is still using `istanbul` to generate coverage, even though most of the other ethereumjs libraries have migrated to `nyc`.

[2019-01-15 09:46] s1na commented on #67
`CheckpointTrie` tries to implement checkpointing by inheriting `BaseTrie`. During #73 I noticed that this might not be the best design, and this manifests in `_enterCpMode` and `_exitCpMode` where methods of `BaseTrie` are patched dynamically.

I think after extracting DB-related logic to a separate class, the checkpointing mechanism could be moved to this class. This would remove the need for pa

[2019-01-15 12:17] holgerd77 commented on #67
👍

[2019-01-21 08:57] holgerd77 opened #75 "More consistent and better structured directory/file layout"
Currently file naming is pretty inconsistent within the source directory of the library and it's relatively hard to grasp for newcomers what  the code within different files do and how task/responsibility areas are structured.

File/directory structure should be updated - with respect (or at least considering) to API changes which would occur when moving certain files (e.g. `src/secure.js`). The f

[2019-01-22 07:52] s1na commented on #44
The whole code base has been now ported to ES6 classes, see #57, #61, #71 and #73.

[2019-01-22 07:52] #44 closed

[2019-01-22 10:58] holgerd77 commented on #75
Note: eventually we can rename `DB` file and source occurences to `Storage` or something similar, to better prepare for a future backend exchange possibility.

[2019-02-02 15:33] charlielye opened #77 "Data gets lost when using string as a key. (memdown + 2 tries)"
The test below fails. If you comment line 50 with key `thisbreaks` the test passes. Changing the key to a Buffer and the test passes. I'm not confident that the pass is a fix, but is possibly just an intermittent fix, as I've been experiencing other oddities.

[code]

[2019-02-04 11:06] s1na opened #78 "Batching multiple leaf proofs"
When proof for multiple leaves of the trie are required simultaneously, batching the proofs together as proposed [here](https://ethresear.ch/t/optimizing-merkle-tree-multi-queries/4912) can reduce the total overhead. A new method can be added, e.g. `proveBatch` or `proveMultiple` that accepts an array of keys and returns the batched proof. This can potentially be useful in stateless and light clie

[2019-02-04 13:16] holgerd77 commented on #78
👍

[2019-02-12 14:37] s1na opened #80 "Tape v4.10.0 breaks tests"

[2019-02-15 00:29] zmitton commented on #41
seems to be worth a rewrite using promises. Just my 2 cents :)

[2019-02-15 00:33] zmitton commented on #23
do you have reproduction steps? That shouldn't be happening. A non-existing key should return null, and should not have an error, but an existing key should obviously get returned

[2019-02-15 00:56] zmitton commented on #19
So this will enable creating a partial tree from a proof [here](https://github.com/ethereumjs/merkle-patricia-tree/pull/82/files#diff-f2fabd87f37321748a5499f0df52f235R52). And/or you can make a new tree and set the root, then add more poofs to it later by calling this function with your trie (optional proofTrie argument).

the function doesn't check that the proof is valid. The way you can do that

[2019-02-15 09:46] #43 closed

[2019-02-26 10:21] #80 closed

[2019-02-27 06:57] Lion17 opened #84 "Delete node error"
When you try to remove a single node from a branch with a value, an error occurs.

To reproduce:

[code]

Output:

The reason is that when nodes in a branch are counted (baseTrie.js:573), the value of the node is taken as a reference to the node.
Next, there is a try to get the node (baseTrie.js:588) and access it (baseTrie.js:490).

[2019-02-28 08:42] Lion17 opened #85 "verifyProof error on nested embeded nodes"
When you try to call the verifyProof function for a node that is embedded in another node, which in turn is also embedded, an error occurs.

To reproduce:

[code]

Output:

The reason is that only the variant with one level of embedded nodes is considered. This can be seen in file proof.js:82, where the key length is compared with 1, while with multiple nesting of nodes the key will be longer. In

[2019-02-28 11:10] holgerd77 commented on #84
Thanks for reporting, can you open a PR on this?

[2019-02-28 11:10] holgerd77 commented on #84
(optimally with an additional test case?)

[2019-02-28 11:12] holgerd77 commented on #85
Same here, PR would be great together with a test case. 😄

[2019-03-01 06:35] Lion17 commented on #84
Sorry! But I am writing in C ++, I tried to port the algorithm and came across errors. I ran the node.js to check if I introduced these errors. I just reported them.

[2019-03-01 14:43] holgerd77 commented on #84
@Lion17 Ok, that's nevertheless valuable, thanks! 👍

[2019-03-05 11:54] Lion17 opened #86 "nibbles.js matchingNibbleLength potential error"
https://github.com/ethereumjs/merkle-patricia-tree/blob/768eac15b203c914d9827e7324d18d667bbb770d/src/util/nibbles.js#L45

There is a potential error.
The length of nib2 is not checked.

[2019-03-05 12:01] Lion17 commented on #86
I'm sorry. On JS this will work correctly.

[2019-03-05 12:01] #86 closed

[2019-04-29 13:21] holgerd77 commented on #67
Closed by #74.

[2019-04-29 13:21] #67 closed

[2019-05-03 08:34] s1na opened #88 "Replace sha3 with keccak256"
sha3 and the sha3-related constants have been dropped in ethereumjs-util in favor of keccak256.

[2019-06-09 09:42] rkernegger commented on #35
This is my suggestion:
[code]
Questions:
-) I wasn't sure if I should leave/add comments or make it as short as possible?
-) Should we discuss it here or should I make a PR first?

Adapted and updated from
[1] https://github.com/ethereumjs/merkle-patricia-tree/issues/32#issuecomment-363654149
[2] https://medium.com/cybermiles/diving-into-ethereums-world-state-c893102030ed
[3] http://wanderer.githu

[2019-06-13 07:57] holgerd77 commented on #35
Hi Rene, great, thanks! 😀 Someone will have a closer look during the next days.

[2019-06-15 02:48] vijay-dcrust commented on #32
Hi @tpmccallum,
  I am trying your code from https://gist.githubusercontent.com/tpmccallum/2dfa62c820d87e0105ee14bfe77b59ce/raw/bb14bea5a22f8d7d39a12bc3cc3e5f2a850a8022/epn_19.md

I have two questions if you could help:-
(i) i get the output only for Block 0 stateRoot hash as input. For any other blocks, i get the blank or null output. Why is it so?
(ii)Sometimes i get the error related to unhandl

[2019-06-22 07:14] holgerd77 commented on #35
Hi Rene, like this, I think this should be self-explanatory enough. Do you want to open a PR on this and add as a dedicated example - maybe headed with "Read Account Storage from Geth DB" or similar - to the `README` examples?

That would be great! 😄

[2019-06-23 07:30] rkernegger commented on #35
Sure :)

[2019-06-23 14:08] holgerd77 commented on #35
Closed by #89.

[2019-06-23 14:08] #35 closed

[2019-07-16 14:56] s1na opened #95 "npm run build fails"
`npm run build` fails with the following error:

`Error: Cannot find module 'async' from '/path/merkle-patricia-tree'`

Although `npm run babel` succeeds.

[2019-08-27 07:58] lastmjs opened #99 "Add Ethereum name or address to package.json"
I would like to see an Ethereum name or address added to the `ethereum` field of the package.json file. This will allow consumers of the project to know a cannonical address to send funds to. For example, I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have Ethereum addresses in their package.json files: https://sustainus.io

[2019-10-16 17:15] elranu opened #102 "missing typescript types"
On the compiler options please add `"declaration": true`:
example:

`{
  "extends": "@ethereumjs/config-tsc",
  "compilerOptions": {
    "outDir": "./dist",
    "declaration": true
  },
  "include": ["src/**/*.ts"],`

[2019-10-19 13:01] gasiortomasz commented on #102
This project's `tsconfig.json` expands on this file `https://github.com/ethereumjs/ethereumjs-config/blob/master/packages/ethereumjs-config-tsc/tsconfig.json` which has declaration flag set to true.

Weirdly enough I don't see declaration file after doing `yarn add merkle-patricia-tree` in my project

[2019-10-21 08:43] s1na commented on #102
The typescript migration has not yet been released. That's why you're not seeing the declaration files. We've been mostly busy with the istanbul HF and this has had lower priority. Will get back to it soon.

[2019-11-04 12:43] #99 closed

[2019-11-04 12:46] s1na commented on #88
Fixed in #91

[2019-11-04 12:46] #88 closed

[2019-12-19 16:03] tuler commented on #10
If `ethereumjs-util` is not being removed I'd appreciate a new release (`3.1.0`?) to include the version update you already did [here](https://github.com/ethereumjs/merkle-patricia-tree/commit/3061de7c41e87190f55bcb5babdd74d8c2c8b6c7#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R53)

This is affecting [truffle build](https://github.com/trufflesuite/truffle/issues/1584)

[2020-04-09 03:44] mikeal opened #108 "strictly require level to be passed in, drop level deps"
I’m seeing some nastly browser bundling issues because this package is in my dep tree and depends on modules which have ancient versions of level and there have been several breaking changes since.

These level deps are pretty massive and unnecessary deps since they only get used when a level instance is not passed in. If you moved to require this explicitly you could drop the deps.

In the meanti

[2020-04-09 15:11] holgerd77 commented on #108
@ryanio What do you think about this? Would it be a way to move the `level` dependencies to the `devDependencies` and then just do the testing with the libs and otherwise require people to pass its own instance? Not seeing the downside atm apart from some (minor) convenience loss.

We should then also state in the docs what level version is tested to be working with the library. Eventually we can

[2020-04-09 17:41] mikeal commented on #108
We moved all of IPLD and IPFS to use async/await, so we’d be happy to take a promise version of the library ;)

[2020-04-09 21:21] ryanio commented on #108
Hey, sounds like a good idea :) I'll put it on my todo list for when after #107 is merged.

To add to the discussion, the following is from a set of recent performance [recommendations](https://github.com/EthWorks/ethereumjs-vm-benchmarks/blob/master/results/results.md#remove-level-make-merkle-patricia-tree-a-sync-structure) from EthWorks for `ethereumjs-vm`:

I'm not sure how much of the above ch

[2020-04-09 22:00] mikeal commented on #108
I can see how you could move the data structure to an inmemory sync structure but you’re still going to end up with async methods for creating it since the browser’s hashing functions are async.

We’ve done similar audits that found “unnecessary async” to be a perf problem and have factored a lot of it out, which is why things like block serialization/deserialization are now synchronous, but we st

[2020-04-10 08:48] holgerd77 commented on #108
@mikeal thanks, that's really valuable input! 😊

[2020-04-13 21:34] #66 closed

[2020-04-18 16:54] 4vadim4 commented on #10
@tuler , what about solution ? i have same problem:

this is my dependency-tree:
[code]

[2020-04-21 09:54] jochem-brouwer opened #112 "Trie only accepts one `put` call"
If I clone the repository and then import `CheckpointTrie` then this does not seem to happen. However, if I use the package via npm and then use the default Trie type then the root hash does not change after I `put` 1 key-value pair:

[code]

Output:

[code]

[2020-04-21 10:08] jochem-brouwer commented on #112
As a follow up: if I claim the repo and then run this slightly edited script (converting it to TypeScript and ensuring the inputs are Buffer types)

[code]

I get:

[code]

As expected.

[2020-04-21 10:45] jochem-brouwer commented on #112
The problem is that in the original version (3.0.0) you have to use callbacks. This is the third argument of the `put` function. The callback will be called once the new key/value pair is processed (and thus updates the root hash too).

[2020-04-21 10:45] #112 closed

[2020-04-27 12:57] sz-piotr commented on #108
What hashing functions are async in the browser?

[2020-04-27 23:25] mikeal commented on #108
SHA2 ;) https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest

[2020-04-30 03:43] kumavis commented on #108
@mikeal yeah raw keccak is unlikely to get browser support, so less relevant here
and I haven't found a keccak package with async native bindings, but might exist, could give us some parallelism gains if we adopt lazy hashing

I've advocated using ipfs's [`interface-datastore`](https://github.com/ipfs/interface-datastore/) in place of level, do you think its appropriate?

I think dropping level as

[2020-05-01 20:49] mikeal commented on #108
Sure, but we have a multihash interface that supports several hashing functions. Once one of them is async the interface has to be async ;)

[2020-05-06 01:39] ryanio commented on #108
The only two level deps `level-mem` and `level-ws` are in use and updated to latest in 4.0.0 release (#111).

@mikeal could you give some feedback in #117 if providing a browser build would be helpful for you?

[2020-05-07 16:08] ryanio commented on #95
`npm run build` is working on master with `tsc` now, so I will close this for now. Please feel free to re-open if you have more reproduction details.

[2020-05-07 16:08] #95 closed

[2020-05-07 22:50] ryanio commented on #102
Thanks for your patience. The TypeScript migration will be released in v4.0.0 (#111).

[2020-05-07 22:52] ryanio commented on #72
Completed in https://github.com/thingsinjars/merkle-patricia-tree/commit/868ac27af28ad3e2fe143c95aa6623ed78dc9f36.

[2020-05-07 22:52] #72 closed

[2020-05-07 22:56] ryanio commented on #17
Thanks. I believe this was fixed in the linked PR #82. Most recently, `_lookupNode` has been updated from callback to Promise in #107.

[2020-05-07 22:56] #17 closed

[2020-05-07 22:57] ryanio commented on #23
Closing due to inactivity, please re-open if you can share some steps to reproduce the issue.

[2020-05-07 22:57] #23 closed

[2020-05-07 23:12] ryanio commented on #10
I believe we've reduced our usage of `ethereumjs-util` as much as makes sense. See https://github.com/ethereumjs/merkle-patricia-tree/pull/111#issuecomment-617346261. `toBuffer` is no longer used, and `keccak` is used appropriately.

 @4vadim4 The keccak dependency of `ethereumjs-util 7.0.0` was updated from 2.1.0 to 3.0.0, which comes with prebuilds for Linux, MacOS and Windows so hopefully you w

[2020-05-29 07:42] holgerd77 opened #120 "Rename Trie.prove to Trie.createProof"
I always had problems with "reading" the proof-related functions of MPT (in the sense of: grasp the functionality by seeing the names), see e.g. the [examples](https://github.com/ethereumjs/merkle-patricia-tree#merkle-proofs). For a long time I thought that I am just not getting the whole picture.

Now on a closer look it seems to me that the name of the `Trie.prove` function is just plain wrong,

[2020-05-29 09:44] holgerd77 opened #121 "Binary Trie Support Analysis"
My current intuition is that it would be beneficial to have an integrated solution here and to not have a separate implementation, since I would assume that larger parts of supporting code structures like e.g....

- Checkpointing
- Persistence (current version, but also eventually to think about a flat turbo-geth like structure, if implemented?)
- Benchmarks
- Partially tests

...should be able to

[2020-05-29 09:45] holgerd77 commented on #41
Issue written with somewhat outdated assumptions and context, will close in favor of #121

[2020-05-29 09:45] #41 closed

[2020-05-29 10:06] s1na commented on #120
Yeah I think some documentation could probably help. `createProof` might be somewhat more clear. We could at first define it as an alias and mark `prove` as deprecated maybe to allow users to rename?

[2020-05-29 10:20] holgerd77 commented on #120
Deprecation might also be a procedure. We need to get a bit better at managing deprecation changes though, probably by some more systematic tracking strategy on these, maybe along release planning issues or as separate permanent deprecation-topic issues. Currently this is a bit random if things really get removed on subsequent major releases.

[2020-05-29 11:04] evertonfraga commented on #120
Wow, that makes sense. The function name is indeed misleading. I can easily see code being created as:

[code]

so I think it makes sense to move to this new semantic. I also hope that the TypeScript version of MPT can provide living documentation to people in their IDEs.

[2020-05-29 11:07] evertonfraga commented on #120
Regarding deprecation, I agree we need a systematic approach. We can define a solid organization-level plan that can be coherently reproducible by any of us.

[2020-05-29 15:22] gabrocheleau commented on #120
I agree that `createProof` is a better name than `proof`. The proof method and the naming of variables in the documentation confused me initially.

I'll be happy to update the documentation and write examples if these proposed changes are included in the v4 release. I did not use the proof method in the [MPT tutorial](https://github.com/gabrocheleau/merkle-patricia-trees-examples) as they weren't

[2020-05-29 17:57] ryanio commented on #120
ok sounds great I'll get started on this 👍

[2020-06-19 16:45] #10 closed

[2020-06-19 16:45] #102 closed

[2020-07-15 08:36] holgerd77 opened #124 "Analyze speed deterioration of v4"
On `v4` speed of `commit()` has substantially deteriorated, @s1na suspects this commit c3155665c19b5106991cd708137d7d8272e5d13f as the cause.

This need some investigation and fix.

A release on this would be a prerequisite for the VM v5 release https://github.com/ethereumjs/ethereumjs-vm/issues/681

[2020-07-24 00:17] ryanio commented on #120
solved with #122

[2020-07-24 00:17] #120 closed

[2020-08-14 15:24] holgerd77 commented on #124
Ok, did some first further analysis here with the MPT benchmarks and couldn't find any signification deterioration on first run.

First run on current `master` with `npm run build && ts-node benchmarks/index.ts`, results on my local PC:

[code]

I then checkout the commit mentioned above with `git checkout c3155665c19b5106991cd708137d7d8272e5d13f`, reinstalled dependencies with `npm i`, had to man

[2020-08-14 15:36] holgerd77 commented on #124
I now added a `trie.commit()` (since this was not executed and at the same time `commit()` is suspected to do the speed deterioration) to `benchmarks/checkpointing.ts`:

[code]

also adopted to `50` iterations and `10` samples, since runs were so slow, results:

c3155665c19b5106991cd708137d7d8272e5d13f :

[code]

On c315566 :

[code]

@s1na Where/how did you actually detect this speed deterioratio

[2020-08-17 10:26] s1na commented on #124
@holgerd77 My set-up was a bit twisted.

I had 2 clones of the VM:

1. VM's master branch which included the most recent MPT release to run the  [benchmarks](https://github.com/ethereumjs/ethereumjs-vm/pull/794)
2. Compared that to the VM at commit https://github.com/ethereumjs/ethereumjs-vm/commit/b6beae47ce48d4f337d1d2b5a907aa26e7d999ad which is right before this PR https://github.com/ethereumjs

[2020-08-24 21:51] ryanio commented on #124
@holgerd77 I noticed in https://github.com/ethereumjs/merkle-patricia-tree/issues/124#issuecomment-674133322 you would have to `await` the commit. I am wondering though, is there a reason to do the checkpoint after the put? I would think one would want to do `checkpoint -> put -> commit`

[2020-08-25 10:53] holgerd77 commented on #124
@ryanio ah no, sorry for the confusion, the `put -> checkpoint` order was just there and I didn't have a close-enough look and just added the `commit` afterwards. You are right, `checkpoint -> put -> commit` makes more sense.

[2020-09-09 15:33] holgerd77 opened #131 "Refactoring ideas"
https://github.com/ethereumjs/merkle-patricia-tree/pull/76 (Work from @s1na from early 2019)

[2020-09-10 07:19] holgerd77 opened #132 "Performance Improvements"
https://github.com/ethereumjs/organization/issues/64

Opening this up as a meta issue after our topic call 1 on MPTs to bundle discussion on performance improvements on the library, will also take the idea list from the issue above over here to have a central place for this.

TODO, please read on page instead via email, will update soon

[2020-11-26 16:45] jochem-brouwer commented on #131
I'm gonna tinker about a bit with this one. This WalkController, as mentioned before, is very inefficient, I'll take a look if we can remove it and also make the code much better readable.

[2020-11-28 21:13] jochem-brouwer commented on #131
Some notes:

Currently `_walkTrie` walks the trie using some kind of DFS strategy. Once the priority queue is full, it will pick nodes by longest key (thus the deepest in the trie). Before the queue is full it will run BFS-like. This is baked into the walk strategy and should probably be removed to give more freedom how we traverse the trie.

I got some ideas and will open a PR soon with a PoC.

[2020-11-28 21:16] jochem-brouwer opened #134 "Possible race condition on `get` operation"
The `get` operation of the trie does not have a lock. It seems to me that if you run a `get` (which calls `findPath`) and meanwhile also do a `put` operation, this would change the path (`get` operation runs on an old trie). If you would change the same key using `put` to a new value, then `get` will probably yield the old value. Not sure if this is a big problem though.

[2020-12-04 08:45] holgerd77 opened #136 "v5 Release Planning"
Follow-up on #111

Release planning for the next major release `v5` (no date yet), please use this to add breaking changes planned for v5 as well as deprecation tasks which should be executed upon.

Note that it might make sense to combine this release with a monorepo transition if planned.

## Breaking Changes

- [ ] Rename from `merkle-patricia-tree` to `@ethereumjs/trie``

## Deprecation Tasks

[2020-12-08 10:11] holgerd77 commented on #124
Nothing found on further investigation, will close. Work on MPT performance will continue and new dedicated issues can be opened along this work.

[2020-12-08 10:11] #124 closed

[2020-12-08 10:13] holgerd77 commented on #75
Addressed along several follow-up (and at least partially unrelated) refactoring PRs, will close.

[2020-12-08 10:13] #75 closed

[2020-12-08 10:45] holgerd77 commented on #85
Tried to make this example run by updating the code from above to the latest MPT v4 version, came up with to be run in `ts-node`:

[code]

This ist *still* not running and we should give this use case another look (and also have a look at the bug here).

1. TypeScript complained about the constant string type definitions in [BatchDBOp](https://github.com/ethereumjs/merkle-patricia-tree/blob/master

[2020-12-08 10:47] holgerd77 commented on #84
Update: see https://github.com/ethereumjs/merkle-patricia-tree/issues/85 for a path to an updated example to retest this.

[2020-12-08 10:49] holgerd77 commented on #77
API has been updated on v4 to only accept buffers so should not be an issue any more, will close.

[2020-12-08 10:49] #77 closed

[2020-12-08 10:55] holgerd77 commented on #34
Have checked, proof-related functions are in the normal coverage range and coverage is back to 89%, likely solved along integrating the dedicated `proof.js` file into `BaseTrie`. Will close.

[2020-12-08 10:55] #34 closed

[2020-12-08 10:59] holgerd77 commented on #12
Will cautiously close this since the issue is pretty old, there hasn't been any reports lately and the code base changed significantly since. There has also been a refactor of the `WalkController` in https://github.com/ethereumjs/merkle-patricia-tree/pull/135 by @jochem-brouwer. Feel free to reopen though if you still think this is an issue.

[2020-12-08 10:59] #12 closed

[2020-12-08 11:13] holgerd77 commented on #5
Behavior of the current state of the library is to check for correctness of the provided `stateRoot` value and then initialize a trie with the `stateRoot` as the new root. Will close here.

Example code run:

[code]

Feel free to reopen if I haven't understand something correctly about the issue semantics.

[2020-12-08 11:13] #5 closed

[2020-12-20 15:45] zmitton commented on #85
Original error should have been taken care of when `proof.js` was eliminated in favor of `basetrie.js` proof implementation.

Is the issue you're seeing now

 - (1) an error in the way the trie is getting build, or
 - (2) an error during the verification process

[2020-12-27 15:46] zmitton commented on #85
Original error should have been taken care of when proof.js was eliminated in favor of basetrie.js proof implementation.

Is the issue you're seeing now

(1) an error in the way the trie is getting build, or
(2) an error during the verification process
The later is probably something I should look at but I doubt its the case

[2020-12-27 19:22] zmitton commented on #134
I don't believe that constitutes a race condition because it only happens when the `get` and `put` are called in separate threads, and threads are already known to not have a guaranteed order.

It would, however, be a race condition if the `put` call, ended up deleting intermediary nodes, and then the `get` call got stuck on an intermediate node (non-leaf) as a missing node error.

[2020-12-27 19:38] zmitton commented on #134
Note that if wrapping the same lock around `get` yields insufficient performance, you could instead have a separate lock instance that allows multiple threads accessing `get`, but locks out `put` and `delete` operations. The semephore package already supports something like this

[2021-01-07 12:32] brickpop opened #138 "Supporting web browsers by using a Buffer polyfill"
The standard JS class to represent byte arrays is `Uint8Array`, which NodeJS extends with extra features on the `Buffer` class, used in this repo.

However, the Buffer class is not available on web browsers, so people trying to validate a Merke Proof will not be able to provide valid parameters.

There is a polyfill available (https://www.npmjs.com/package/buffer) which provides a drop-in replacem

[2021-01-07 13:27] alcuadrado commented on #138
Hey @brickpop, how are you bundling your application?

[2021-01-07 15:43] brickpop commented on #138
Hi @alcuadrado
We typically use Next.js (Webpack) but to avoid encountering the Buffer problem there, our intermediary libraries already use the NPM Buffer version. This allows anyone to import our library and bundle it with their tool of choice.

So far, the problem arises when running Mocha to test our code. Haven't got any further without the proof validation.

[2021-01-07 16:21] holgerd77 commented on #138
I just scrolled a bit through the [Buffer usages](https://github.com/ethereumjs/merkle-patricia-tree/search?q=Buffer) in this library, usage patterns are not very complex and the API affected is pretty limited. @alcuadrado would this eventually be a candidate for some first Buffer -> UInt8Array switch? Considering also in particular that we now have the library [in the monorepo](https://github.com

[2021-01-07 20:10] cgewecke commented on #138
@brickpop Out of curiosity is your immediate problem getting mocha tests to execute in a browser context? This repo runs passing browser integration tests with karma that [exercise the same section of code, here][1] ...

[1]: https://github.com/ethereumjs/merkle-patricia-tree/blob/01f40d87090a7b6481ee99eb328f69bca5976131/test/proof.spec.ts#L7-L16

[2021-01-08 12:50] brickpop commented on #138
@cgewecke not really, the direct development is on a TypeScript library and testing done within the NodeJS context.

We want to support frontend applications beyond Node, so we use a polyfilled `Buffer` instead of the native Node's version. And this will cause `BaseTrie.fromProof` > ethereumjs-util > `keccak()` to throw an error because of the class mismatch.

Do your browser integration tests inj

[2021-01-08 17:10] ryanio commented on #138
We use karma-typescript which polyfills with feross/buffer. Prior to that we were using browserify which did the same and was also working.

Are your mocha tests running after the webpack buffer replacement? If MPT and ethereumjs-util are properly bundled together and buffer is replaced it should work.

[2021-01-08 17:20] jochem-brouwer commented on #138
@holgerd77 since we want to remove node's `Buffer` since we don't need this rather "extended" version of `Uint8Array` in most (if not all) circumstances, I'd say that this would be a good first candidate to remove the `Buffer` dependency.

[2021-01-08 17:38] cgewecke commented on #138
@holgerd77 @jochem-brouwer

`Buffer` is such a widespread datatype in these libs that I'd like to hear the arguments for making this change again.

Wrt this issue, a common approach when publishing a lib which works for both Node and the browser is to allow the end user to manage the polyfill (via a bundler) and/or publish a bundled version to CDN to simplify browser availability.

[2021-01-09 11:52] alcuadrado commented on #138
I really really really want to remove Node APIs where there's a native counterpart. But for things as widespread as Buffer is really hard to do it. You don't just need to remove it from your code, but also make sure that none of your dependencies use it. If a single one uses it, all of its problems are still present.

Does that mean that we just shouldn't care and accept the situation? I don't thi

[2021-01-13 11:45] holgerd77 commented on #85
@zmitton thanks for the answer, can't remember TBH. Will just leave open here for someone to re-evaluate at some point.

[2021-01-19 09:38] holgerd77 commented on #19
Unsure if we want to close here or not, will keep this open for now and transfer to the monorepo.

[2021-01-19 09:40] holgerd77 commented on #7
No implemented but old issue with very little context, will close for now.

[2021-01-19 09:40] #7 closed

[2021-01-19 09:42] holgerd77 commented on #47
Closed by #82

[2021-01-19 09:42] #47 closed

[2021-01-19 09:44] holgerd77 commented on #64
Closed by #82

[2021-01-19 09:44] #64 closed

[2021-01-19 09:46] holgerd77 commented on #58
Checkpointing has been substantially reworked in https://github.com/ethereumjs/ethereumjs-monorepo/pull/1030 and https://github.com/ethereumjs/ethereumjs-monorepo/pull/1035, will close here (issue is also pretty old).

[2021-01-19 09:46] #58 closed

[2021-01-19 09:48] holgerd77 commented on #84
Will close this in favor of #85

[2021-01-19 09:48] #84 closed